@font-face {
    font-family: 'Raleway';
    src: url('./police/Raleway-VariableFont_wght.ttf');
}

*{
    font-family: 'Raleway';
}

/*              HEADER              */

header, main {
    margin-right: 30px;
    margin-left: 30px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_link {
    text-decoration: none;
    color: #0065FC;
    border-top: 1px solid white;
    line-height: 4em;
}

.menu_link:hover {
    border-top: 1px solid #0065FC;
}

a:focus {
    color: black;
}

.menu {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*              ***********             */


h1{
    margin-top: 25px;
    margin-bottom: 10px;
}

/*              BARRE DE RECHERCHE              */

#search_block{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    height: 40px;
}

#search_icone {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

#search_btn {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

#search_input {
    border: 1px solid #F2F2F2;
}

/*              **********              */

/*              BARRE DE FILTRE             */

#filter_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-bottom: 25px;
}

.filter_icone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    color: #0065FC ;
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin: -2px;
}

.filter_btn {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
}

.filter {
    font-weight: bold;
}

.filter_txt {
    font-weight: bold;
    padding: 0 5%;
}

/*              **********              */

.row_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row_bot {
    display: flex;
    justify-content: space-between;
    height: 700px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

#hebergement_block {
    background-color: #F2F2F2;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 70%;
}

#display_heb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heb_wrap_img {
    position: relative;
    width: 100%;
    height: 70%;
}

.heb_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}



.heb_fig {
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
}


.fas.fa-star {
    color: #0065FC;
}

.fas.fas.fa-star.empty_star{
    color: #bdbdbd;
}

/*                  BLOCK POPULAIRE             */

#populaire_block {
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 400px;
}

.pop_fig {
    display: flex;
    background-color: white;
    width: 300px;
    height: 130px;
    padding: 10px;
    border-radius: 10px;
}

.pop_wrap_img {
    position: relative;
    width: 33%;
    height: 100%;
}

.pop_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.pop_title {
    margin-top: 0px;
}

.pop_txt {
    padding-left: 10px;
    width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.pop_stars {
    margin-bottom: 0px;
}

/*              **********              */


.block_title {
    margin-left: 40px;
}

.act_fig{
    width: 20%;
    margin: 0;
    box-shadow: 0px 0px 20px #0000002e;
    border-radius: 10px 10px 10px 10px;
}

.act_fig_col{
    margin: 0;
    box-shadow: 0px 0px 20px #0000002e;
    border-radius: 10px 10px 10px 10px;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
}

.footer_col {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.footer_link {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

#activites {
    margin-bottom: 15px;
}

.div_act{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.act_caption {
    padding-left: 15px;
    height: 50px;
    line-height: 50px;
}

.act_img_big {
    border-radius: 10px 10px 0px 0px;
    height: 90%;
    width: 100%;
}

.act_img_medium {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.act_img_small {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}