@font-face {
    font-family: 'Raleway';
    src: url('./police/Raleway-VariableFont_wght.ttf');
}

*{
    font-family: 'Raleway';
}

/*              HEADER              */

html, body {
    margin: 0px;
    padding: 0px;
}

header, main {
    margin-right: 30px;
    margin-left: 30px;
}

footer {
    margin-left: 0px;
    margin-right: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div_link:hover {
    border-top: 1px solid #0065FC;
    color: #0065FC;
}

.menu_link {
    text-decoration: none;
    color: black;
    line-height: 4em;
}

.menu_link:hover {
    color: #0065FC;
}

#link_inscr {
    border-top: 1px solid white;
}

#link_inscr:hover {
    border-top: 1px solid #0065FC;
}

a:focus {
    color: black;
}

.menu {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*              ***********             */

h1 {
    font-size: large;
}

a {
    text-decoration: none;
}

/*              BARRE DE RECHERCHE              */

#search_block{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    height: 40px;
}

#search_icone {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

#search_btn {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas.fa-search {
    display: none;
}

#search_input {
    border: 1px solid #F2F2F2;
}

/*              **********              */

/*              BARRE DE FILTRE             */

#filter_block {
    margin-bottom: 15px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #F2F2F2;
    height: 40px;
}

.filter:hover {
    transform: scale(1.10);
    cursor: pointer;
}

.filter_title {
    display: flex;
    align-items: center;
}

.filter_text {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    font-size: x-large;
}

.filter_icone_div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    margin-left: -2px;
}

.filter_icone {
    color: #0065FC;
}

#info {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-bottom: 15px;
}

#info_icone {
    border-radius: 100%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
}

.fas.fa-info {
    color: #0065FC;
}

/*              **********              */

.row_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row_bot {
    display: flex;
    justify-content: space-between;
    height: 440px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

/*              SECTION HEBERGEMENT             */

#hebergement {
    background-color: #F2F2F2;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 70%;
}

.heb_title {
    margin-left: 40px;
}

#display_heb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heb_fig {
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
}

.fig_link:hover {
    cursor: pointer;
}

.heb_fig_title {
    font-size: medium;
    font-weight: bold;
    margin-top: 0px;
}

.heb_wrap_img {
    position: relative;
    width: 100%;
    height: 70%;
}

.heb_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




.heb_link {
    text-decoration: none;
}

.heb_link:visited {
    color: black;
}

#aff_plus {
    width: 100%;
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

/*              ***********             */

.fas.fa-star {
    color: #0065FC;
}

.fas.fas.fa-star.empty_star{
    color: #bdbdbd;
}

/*                  BLOCK POPULAIRE             */

#populaire_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 25%;
}

#pop_title {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop_fig {
    display: flex;
    background-color: white;
    width: 80%;
    height: 130px;
    padding: 10px;
    border-radius: 10px;
}

.pop_wrap_img {
    width: 33%;
    height: 100%;
}

.pop_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.pop_title {
    margin-top: 0px;
    font-size: medium;
}

.pop_txt {
    padding-left: 10px;
    width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.pop_stars {
    margin-bottom: 0px;
}

/*              **********              */

/*              SECTION ACTIVITE                */

.act_fig{
    width: 22%;
    height: 100%;
    margin: 0;
    box-shadow: 0px 0px 20px #0000002e;
    border-radius: 10px
}

.act_fig_col{
    margin: 0;
    box-shadow: 0px 0px 20px #0000002e;
    border-radius: 10px 10px 10px 10px;
}

#activites {
    margin-bottom: 15px;
}

.div_act{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.act_caption {
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 55px;
}

.act_txt {
    font-weight: bold;
}

.act_wrap_bimg {
    position: relative;
    width: 100%;
    height: 390px;
}

.act_wrap_img_one {
    position: relative;
    width: 100%;
    height: 180px;
}

.act_wrap_img_two {
    position: relative;
    width: 100%;
    height: 110px;
}

.act_wrap_img_three {
    position: relative;
    width: 100%;
    height: 140px;
}

.act_wrap_img_four {
    position: relative;
    width: 100%;
    height: 150px;
}

.act_img {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.act_img_small {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

/*              **********              */

/*              footer        */
footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
}

.footer_col {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.footer_link {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

/*              **********              */

/*              Media Queries               */

@media screen and (max-width: 1400px) {
    .row_top {
        flex-direction: column;
    }

    #hebergement {
        width: 100%;
    }

    .heb_fig {
        width: 20%;
    }

    #populaire_block {
        margin-top: 15px;
        flex-direction: row;
        width: 100%;
    }
}

@media screen and (max-width: 1100px){
    #filter_block {
        width: 80%;
    }

    .heb_fig {
        width: 35%;
    }

    #populaire_block {
        flex-direction: column;
    }
    .pop_fig {
        width: 80%;
    }

    footer {
        justify-content: space-between;
    }

    .footer_col {
        margin-right: 0px;
        padding-right: 20px;
    }


}

@media screen and (max-width: 760px){

    main {
        margin-left: 0px;
        margin-right: 0px;
    }

    header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .logo {
        margin-right: 30px;
        margin-left: 30px;
    }

    #link_inscr  {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 30px;
        font-weight: bold;
        border-bottom: none;
        color: #0065FC;
    }

    .div_link {
        border-bottom: 2px solid #bdbdbd;
        width: 50%;
        text-align: center;
    }

    .div_link:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }

    .menu_link {
        color: black;
    }

    h1 {
        width: 60%;
    }

    #title {
        display: flex;
        justify-content: center;
    }

    #under_title {
        display: flex;
        justify-content: center;
    }

    #search_block {
        margin-left: 30px;
        margin-right: 30px;
        justify-content: center;
    }

    .fas.fa-search {
        display: block;
    }

    #search_txt {
        display: none;
    }

    #filter_block {
        margin-left: 30px;
        margin-right: 30px;
    }

    .row_top {
        flex-direction: column-reverse;
    }

    .heb_title {
        margin-left: 25px;
    }

    .heb_wrap_img {
        height: 60%;
    }

    #pop_title {
        margin-left: 25px;
    }

    #populaire_block {
        background-color: #F2F2F2;
        margin-bottom: 15px;
        align-items: unset;
    }

    #hebergement  {
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    #display_heb {
        flex-direction: column;
        align-items: unset
    }

    .heb_fig {
        width: 70%;
        box-shadow: 0px 0px 20px #0000002e;
    }

    .heb_fig_title {
        margin-bottom: 3px;
    }

    #aff_plus {
        width: auto;
        margin-left: 25px;

    }

    #activites {
        display: flex;
        flex-direction: column;
    }

    #act_title {
        margin-left: 25px;
    }

    .row_bot {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .fig_link {
        width: 85%;
        height: 150px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .div_act {
        width: auto;
        align-items: center;
    }

    .act_wrap_bimg, .act_wrap_mimg, .act_wrap_simg {
        height: 75%;
    }

    .act_caption {
        height: 25%;
    }

    footer {
        flex-direction: column;
    }

    .footer_col {
        padding-left: 60px;
    }

    .menu {
        width: 100%;
    }

    header {
        display: block;
    }

    .filter_title {
        width: 100%;
    }
}
/*              ***********             */