
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    background-color: aquamarine;
}